<div class="jumbotron">
    <h1>Simple Fact:</h1>
    <br/><br/>
    <p style="text-align:right"><em>QR codes are the single most important part of any Marketing Strategy in today's connected world.</em><br />Only reQuiRe offers recursive QR codes, allowing you to turn a moment of customer curiosity into Continuous Curiosty (TM).</p>
</div>



<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle center-block" src="http://placebacon.net/300/300" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Q says,</h2>
            <p><em>Pathetic humans</em>. Most of you are simply not <em>evolved</em> enough to use QR codes. But we use them in the QR Continuum all the time.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle center-block" src="http://placebacon.net/300/300" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Q*bert says,</h2>
            <p>@!#?@!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle center-block" src="http://placebacon.net/300/300" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Zachary Quinto says,</h2>
            <p>Shut up while I brain you!</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Everyone is doing it. Why aren't you?</h2>
            <p class="lead">QR codes are gaining popularity everyday...don't get left behind!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="http://placekitten.com/600/200" alt="Meooww!">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="http://placekitten.com/600/250" alt="Meoowww!">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Gotta catch'em all!</span></h2>
        <p class="lead">If one QR code can inspire curiosity about your brand, just imagine what 10 would do!</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Sex, Success, and little black and white squares.</h2>
            <p class="lead">If you've lost your mojo, or simply need to feel a little better about yourself, look no further. Scan your way back to the top of your game!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/images/tim_qr.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
